@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Sora:wght@400;600&display=swap');

:root {
  --main_color: #0F9AFE;
  --white_200: #EFF8FF;
  --gray: #6E7275;
  --gray_light: #DBDBDB;
  --gray_200: #293145;
}